asyncio
discord
datetime
urllib
URLError
HTTPError
urlopen
Request
BeautifulSoup
quote
re
warnings
requests
unicodedata
json
os
CommandNotFound
logging
itertools
sys
traceback
random
itertools
math
timeout
partial
functools
YoutubeDL
youtube_dl
StringIO
time
urllib.request
gTTS
